/*
	640x480

	r1 = 240
	r2 = 240
	--------
	c1 = 128
	c2 = 128
	c3 = 128
	c4 = 128
	c5 = 128
*/

.software{
	background:url(software.png);
	background-position: 0px 0px; 
	width: 640px;
	height: 480px;
}

/*r1 c1*/
@media screen and (min-width: 1200px) {
	.software{
		background:url(software.png);
		background-position: 0px 0px; 
		width: 128px;
		height: 240px;
	}
}
/*r1 c2*/
@media screen and (min-width: 1100px) and (max-width: 1200px) {
	.software{
		background:url(software.png);
		background-position: -128px 0px;
		width: 128px;
		height: 240px;
	}
}
/*r1 c3*/
@media screen and (min-width: 1000px) and (max-width: 1100px) {
	.software{
		background:url(software.png);
		background-position: -256px 0px;
		width: 128px;
		height: 240px;
	}
}
/*r1 c4*/
@media screen and (min-width: 900px) and (max-width: 1000px) {
	.software{
		background:url(software.png);
		background-position: -384px 0px;
		width: 128px;
		height: 240px;
	}
}
/*r1 c5*/
@media screen and (min-width: 800px) and (max-width: 900px) {
	.software{
		background:url(software.png);
		background-position: -512px 0px;
		width: 128px;
		height: 240px;
	}
}
/*r2 c1*/
@media screen and (min-width: 700px) and (max-width: 800px) {
	.software{
		background:url(software.png);
		background-position: 0px -240px;
		width: 128px;
		height: 240px;
	}
}
/*r2 c2*/
@media screen and (min-width: 600px) and (max-width: 700px) {
	.software{
		background:url(software.png);
		background-position: -128px -240px;
		width: 128px;
		height: 240px;
	}
}
/*r2 c3*/
@media screen and (min-width: 500px) and (max-width: 600px) {
	.software{
		background:url(software.png);
		background-position: -256px -240px;
		width: 128px;
		height: 240px;
	}
}
/*r2 c4*/
@media screen and (min-width: 400px) and (max-width: 500px) {
	.software{
		background:url(software.png);
		background-position: -384px -240px;
		width: 128px;
		height: 240px;
	}
}
/*r2 c5*/
@media screen and (max-width: 400px) {
	.software{
		background:url(software.png);
		background-position: -512px -240px;
		width: 128px;
		height: 240px;
	}
}